.autoddit-link {
	padding: 5px;
}

.autoddit-link .link-img {
	width: 80px;
	height: 80px;
	margin-right: 10px;
}

.autoddit-link .title {
	font-size: medium;
    font-weight: normal;
	margin-bottom: 1px;
	color: black;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 0;
}

.autoddit-link .tagline {
	color: #888;
    font-size: x-small;
}

.autoddit-link .comment-creator .label, .autoddit-link .comments-list .label {
	font-size: small;
	margin-right: 4px;
}

/* layout: */
.autoddit-link {
	display: flex;
	flex-flow: row;
}

.autoddit-link .votes {
	flex: 0 1 auto;
	text-align: center;
	font-size: x-large;
	margin-right: 5px;
}

.link-img {
	flex: 0 1 auto;
}

.link-content {
	flex: 1 1 auto;
	text-align: left;
	min-width: 0; /* fix flex destorying text-overlfow: ellipsis */
}

/* end layout */